[("add_regular", And(status == running,code(pc) == ADD,gas >= 3,stackSize >= 2,stackSize <= 1024,And(Istanbul <= revision, revision <= Prague)), "add_regular"), ("add_with_too_few_elements", And(And(Istanbul <= revision, revision <= Prague),status == running,code(pc) == ADD,stackSize < 2), "FailEffect"), ("add_with_too_little_gas", And(And(Istanbul <= revision, revision <= Prague),status == running,code(pc) == ADD,gas < 3), "FailEffect"), ("mul_regular", And(status == running,code(pc) == MUL,gas >= 5,stackSize >= 2,stackSize <= 1024,And(Istanbul <= revision, revision <= Prague)), "mul_regular"), ("mul_with_too_few_elements", And(And(Istanbul <= revision, revision <= Prague),status == running,code(pc) == MUL,stackSize < 2), "FailEffect"), ("mul_with_too_little_gas", And(And(Istanbul <= revision, revision <= Prague),status == running,code(pc) == MUL,gas < 5), "FailEffect")]
